<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messenger.connecto">
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screen.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".screen.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".screen.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".screen.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screen.SplashActivity"
            android:theme="@style/connecto_fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>